{% extends 'base.html.twig' %}

{% block title %}Diffusion M2I{% endblock %}

{% block main %}
    <a href="{{ path('login') }}">Lien</a>
    <p>
        Bienvenue dans notre centre de formation
    </p>
    {#<img src="build/assets/images/backgrounds/part-dieu.png">#}


{% endblock %}