{% extends 'base.html.twig' %}

{% block title %}Diffusion M2I{% endblock %}

{% block body_id %}app{% endblock %}

{% block header %}
    {% include 'shared/_header.html.twig' %}
{% endblock %}

{% block main %}

    <a href="{{ path('login') }}">Lien</a>
    <p class="col-3">
        Bienvenue dans notre centre de formation
    </p>

{% endblock %}