{% extends 'base.html.twig' %}

{% block title %}Login Diffusion M2I{% endblock %}

{% block main %}
<a href="{{ path('home') }}">Lien</a>
<p>
    Bienvenue dans la page de login
</p>

{% endblock %}
